# vim swaps and tmp files
*.swp
*.swo
*~

# inventory files
adapt_cluster_provisioning/inventory/*
!adapt_cluster_provisioning/inventory/group_vars
!adapt_cluster_provisioning/inventory/*.example

# credentials
adapt_cluster_provisioning/credentials/*
!adapt_cluster_provisioning/credentials/*.example
