worker_processes  2;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    gzip  on;
    gzip_http_version 1.1;
    gzip_vary on;
    gzip_comp_level 4;
    gzip_proxied any;
    gzip_types text/plain text/css application/x-javascript text/xml application/xml text/javascript application/json;
    gzip_buffers 16 8k;
    gzip_disable "MSIE [1-6].(?!.*SV1)";

    uwsgi_read_timeout 180;
   
    server {
        listen       80;
        server_name  localhost;
                proxy_read_timeout 600;

    location / {
        uwsgi_pass 127.0.0.1:4001;
        uwsgi_param UWSGI_SCHEME $scheme;
        include uwsgi_params;
        }
        
        location /galaxy/static {
            alias {{ galaxy_path }}/static;
            expires 24h;
        }

        location /galaxy/static/style {
            alias {{ galaxy_path }}/static/june_2007_style/blue;
            expires 24h;
        }

        location /galaxy/static/scripts {
            alias {{ galaxy_path }}/static/scripts/packed;
            expires 24h;
        }

        location /robots.txt {
            alias {{ galaxy_path }}/static/robots.txt;
        }

        location /favicon.ico {
            alias {{ galaxy_path }}/static/favicon.ico;
        }

        location /_x_accel_redirect/ {
            internal;
            alias /;
        }

        location /_upload {
            upload_store {{ data_path }}/upload_store;
            upload_pass_form_field "";
            upload_set_form_field "__${upload_field_name}__is_composite" "true";
            upload_set_form_field "__${upload_field_name}__keys" "name path";
            upload_set_form_field "${upload_field_name}_name" "$upload_file_name";
            upload_set_form_field "${upload_field_name}_path" "$upload_tmp_path";
            upload_pass_args on;
            upload_pass /_upload_done;
        }

        location /_upload_done {
            set $dst /tool_runner/index;
            if ($args ~ nginx_redir=([^&]+)) {
                set $dst $1;
            }
            rewrite "" $dst;
        }

        error_page   502    /errdoc/502.html;
        location /errdoc {
            root   html;
        }

    }

}

