# Host file for test environment in VMs
[fileserver]
fileserver ansible_ssh_host=example.com ansible_ssh_port=3021

[workers]
testworker ansible_ssh_host=example.com ansible_ssh_port=3022

[master]
testmaster ansible_ssh_host=example.com ansible_ssh_port=3023

[galaxy_testing_environment:children]
master
workers
fileserver
